*{font-family: 'Roboto', sans-serif;margin: 0px;padding: 0px;}
.container{
	text-align: center;
	position: absolute;
	width: 400px;
	top: 40%;
	left: 50%;
	margin-top: -40px;
	margin-left: -200px;
}
span{
	font-size: 24px;
}
label{font-size:9px;margin-top: 3px;width: 100%;float: left;}
p{font-size: 12px;margin-top: 8px;width: 100%;float: left;}